<script type="text/javascript">
  (function() {
    function async_load() {
      var s = document.createElement('script');
      s.type = 'text/javascript'; s.async = true;
      s.src = '//d3itxuyrq7vzpz.cloudfront.net/assets/reamaze.js';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (window.attachEvent) {
      window.attachEvent('onload', async_load);
    } else {
      window.addEventListener('load', async_load, false);
    }
  })();
</script>
<script type="text/javascript">
  var _support = _support || {};
  _support['account'] = '{{ brand_subdomain }}';
  _support['ui'] = {
    widget: true
  };
  {% if user_id and authkey and user_email %}
    _support['id'] = '{{ user_id }}';
    _support['authkey'] = '{{ authkey }}';
    _support['email'] = '{{ user_email }}';
  {% endif %}
</script>
